{
    email admin@{$DOMAIN}
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

portainer.{$DOMAIN} {
    reverse_proxy portainer:9000
}

qbittorrent.{$DOMAIN} {
    reverse_proxy qbittorrent:8080
}

jellyfin.{$DOMAIN} {
    reverse_proxy jellyfin:8096
}