{
    email admin@{$DOMAIN}
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

portainer.{$DOMAIN} {
    reverse_proxy portainer:9000
}

filebrowser.{$DOMAIN} {
    reverse_proxy filebrowser:80
}

qbittorrent.{$DOMAIN} {
    reverse_proxy qbittorrent:8080
}

jellyfin.{$DOMAIN} {
    reverse_proxy jellyfin:8096
}

prowlarr.{$DOMAIN} {
    reverse_proxy prowlarr:9696
}

radarr.{$DOMAIN} {
    reverse_proxy radarr:7878
}

sonarr.{$DOMAIN} {
    reverse_proxy sonarr:8989
}

bazarr.{$DOMAIN} {
    reverse_proxy bazarr:6767
}